<% provide(:title, t(".h1tag")) %>
<h1><%= t ".h1tag" %></h1>
<%= link_to t(".homepage"), "http://localhost:3000/static_pages/home" %>
<br>
<%= link_to t(".helppage"), "http://localhost:3000/static_pages/help" %>
