<% provide(:title,t(".h1tag")) %>
<h1><%= t ".h1tag" %></h1>
<%= link_to t(".homepage"), "http://localhost:3000/static_pages/home" %>
<%= link_to t(".aboutpage"), "http://localhost:3000/static_pages/about" %>