<% provide(:title, t(".h1tag")) %>
<h1><%= t ".h1tag" %></h1>
<p><%= t ".content" %></p>
<%= link_to t(".helppage"), "http://localhost:3000/static_pages/help" %>
<%= link_to t(".aboutpage"), "http://localhost:3000/static_pages/about" %>